@import url(../base/_variables.scss);

@keyframes color-t {
  from {
    color: black;
  }

  to {
    color: #7b7070;
  }
}

* {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.cabecera h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.titulo_secc {
  background-color: rgba(217, 212, 207, 0.789);
}

.titulo_secc h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.imagen-galeria img:hover {
  box-shadow: 0 14px 28px rgba(14, 14, 207, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #444;
}

@keyframes color-t {
  from {
    color: black;
  }

  to {
    color: #7b7070;
  }
}

/*------------------------HEADER-------------------------*/
.menu {
  padding: 5px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
}

.menu p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
  padding: 10px;
}

.menu hr {
  height: 2px;
  background-color: red;
  border-color: red;
}

.menu .nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.menu .nav-bar a {
  color: black;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-align: center;
}

.menu .nav-bar a:hover {
  background-color: #f12e2e;
  color: white;
}

.menu .nav-bar h1 {
  font-family: 'Roboto', sans-serif;
  text-shadow: 0.1em 0.1em #918b8b;
  font-size: 40px;
  color: black;
  animation-name: color-t;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 5px;
  margin-right: 20px;
}

.menu .nav-bar h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
  text-shadow: 0.1em 0.1em black;
}

@keyframes color-t {
  from {
    color: black;
  }

  to {
    color: #7b7070;
  }
}

/*-------------------------------------------*/
.listing {
  display: grid;
  margin: 3em;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  border-top: 1 solid white;
  border-bottom: 1px solid white;
  margin-top: 5px;
  padding: 2px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: white;
}

.listing .foto-port img {
  width: 100%;
  height: 150px;
  margin-bottom: 1px;
}

.listing .foto-port img:hover {
  filter: grayscale(80%);
  box-shadow: 0 14px 28px #eb4007, 0 10px 10px #d61e1e;
  color: #444;
}

.listing .body {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.281);
  height: 110px;
  border-top: 1px solid black;
}

.listing .body p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 5px;
}

.listing h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 5px;
  font-weight: bolder;
}

.listing li {
  border: 1px solid #2f2e2e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.listing li a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #000;
  background-color: rgba(198, 191, 191, 0.281);
}

.listing li a:hover {
  color: #eb2f06;
}

.contact_form {
  width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
  font-family: 'Hind Siliguri', sans-serif;
}

.contact_form input {
  background-color: #fbfbfb;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #de1a1a;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.contact_form textarea {
  background-color: #fbfbfb;
  width: 90%;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #de1a1a;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.contact_form label {
  display: block;
  float: center;
}

.contact_form #enviar {
  height: 45px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #fdfcfd;
  border-color: #de1a1a;
  border-style: solid;
  border-radius: 10px;
  width: 30%;
  cursor: pointer;
}

.contact_form #enviar:hover {
  background-color: #e60e0e;
  border-color: #ffffff;
}

.contact_form h2 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.contact_form h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.cta {
  margin-top: auto;
  border-top: 1px solid #000000;
  padding: 10px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000;
}

.cta a {
  text-decoration: none;
}

.cta a:hover {
  color: #df331075;
}

/*--------------------------------------------------------------*/
.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.slideshow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}

.slideshow--hero {
  z-index: 3;
  left: 0;
  top: 50%;
  height: 85%;
  transform: translateY(-50%) skewY(-10deg);
  transform-origin: center;
  overflow: hidden;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.slideshow--hero .slides {
  position: absolute;
  left: 0;
  top: -10%;
  width: 100vw;
  height: 100vh;
  animation: 11s slideshow-hero-mobile -3s infinite;
}

.slideshow--hero .slide1 {
  background-image: url(https://images.unsplash.com/photo-1554123168-b400f9c806ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  animation: 20s slides-set-1 -0.1s infinite;
}

.slideshow--hero .slide2 {
  background-image: url(https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80);
  animation: 20s slides-set-2 -0.1s infinite;
}

.slideshow--hero .slide3 {
  background-image: url(https://images.unsplash.com/photo-1483304528321-0674f0040030?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  animation: 20s slides-set-3 -0.1s infinite;
}

@media (min-width: 768px) {
  .slideshow--hero {
    left: 50%;
    top: 0;
    width: 67%;
    height: 100%;
    transform: translateX(-50%) skewX(-10deg);
  }

  .slideshow--hero .slides {
    top: 0;
    left: -25%;
    height: 100%;
    animation: 11s slideshow-hero -3s infinite;
  }
}

.slideshow--contrast {
  z-index: 1;
  width: 100%;
  height: 50%;
  transform: none;
}

.slideshow--contrast--before {
  left: 0;
}

.slideshow--contrast--before .slides {
  width: 100vw;
}

.slideshow--contrast--after {
  z-index: 2;
  left: auto;
  right: 0;
}

.slideshow--contrast--after .slides {
  width: 100vw;
  left: auto;
  right: 0;
}

.slideshow--contrast .slides {
  animation: 14s slideshow-contrast -5s infinite;
}

.slideshow--contrast .slide1 {
  background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://images.unsplash.com/photo-1554123168-b400f9c806ca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  animation: 20s slides-set-1 -0.2s infinite;
}

.slideshow--contrast .slide2 {
  background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://images.unsplash.com/photo-1436491865332-7a61a109cc05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80);
  animation: 20s slides-set-2 -0.2s infinite;
}

.slideshow--contrast .slide3 {
  background-image: linear-gradient(to bottom, rgba(200, 200, 75, 0.25) 0, rgba(200, 75, 75, 0.5) 100%), url(https://images.unsplash.com/photo-1483304528321-0674f0040030?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  animation: 20s slides-set-3 -0.2s infinite;
}

.slideshow--contrast--after {
  top: auto;
  bottom: 0;
}

.slideshow--contrast--after .slides {
  animation: 13s slideshow-contrast -13s infinite;
}

.slideshow--contrast--after .slide {
  background-position: right;
}

.slideshow--contrast--after .slide1 {
  animation: 20s slides-set-1 infinite;
}

.slideshow--contrast--after .slide2 {
  animation: 20s slides-set-2 infinite;
}

.slideshow--contrast--after .slide3 {
  animation: 20s slides-set-3 infinite;
}

@media (min-width: 600px) {
  .slideshow--contrast {
    width: 50%;
    height: 100%;
  }

  .slideshow--contrast--after {
    top: 0;
    bottom: auto;
  }

  .slideshow--contrast--after .slides {
    width: 50vw;
  }
}

.slides,
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes slideshow-hero-mobile {
  0% {
    transform: scale(1) skewY(10deg);
  }

  50% {
    transform: scale(1.05) skewY(10deg);
  }

  100% {
    transform: scale(1) skewY(10deg);
  }
}

@keyframes slideshow-hero {
  0% {
    transform: scale(1) skewX(10deg);
  }

  50% {
    transform: scale(1.05) skewX(10deg);
  }

  100% {
    transform: scale(1) skewX(10deg);
  }
}

@keyframes slideshow-contrast {
  0% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

@keyframes slides-set-1 {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  31% {
    opacity: 1;
    transform: scale(1);
  }

  34% {
    opacity: 0;
    transform: scale(1.05);
  }

  97% {
    opacity: 0;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slides-set-2 {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }

  31% {
    opacity: 0;
    transform: scale(1.05);
  }

  34% {
    opacity: 1;
    transform: scale(1);
  }

  64% {
    opacity: 1;
    transform: scale(1);
  }

  67% {
    opacity: 0;
    transform: scale(1.05);
  }

  100% {
    opacity: 0;
    transform: scale(1.05);
  }
}

@keyframes slides-set-3 {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }

  64% {
    opacity: 0;
    transform: scale(1.05);
  }

  67% {
    opacity: 1;
    transform: scale(1);
  }

  97% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.05);
  }
}

.container {
  max-width: 1280px;
  margin: 3rem auto;
  padding: 5px;
}

button {
  font-size: 1rem;
  padding: 0.35em 0.75em;
  line-height: 1;
  background-color: transparent;
  border: 0.125rem solid #2a2a2a;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.1s;
  outline: 0;
}

button:hover {
  background-color: #2a2a2a;
  color: #fff;
}

button .fa {
  font-size: 0.75em;
  margin-left: 0.5em;
}

button.btn--primary {
  border-color: #042A4F;
  color: #042A4F;
}

button.btn--primary:hover {
  background-color: #042A4F;
  color: #fff;
}

button.btn--accent {
  border-color: #de1a1a;
  color: #de1a1a;
}

button.btn--accent:hover {
  background-color: #de1a1a;
  color: #fff;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
}

.post__image {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
}

.post__image:before,
.post__image:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.post__image:before {
  background-size: cover;
  background-position: center center;
  transform: scale(1);
  filter: blur(0);
  transition: 2s cubic-bezier(0, 0.6, 0.2, 1);
}

.post__image:after {
  background: linear-gradient(30deg, #042A4F 0%, #de1a1a 100%);
  background-size: 100% 300%;
  background-position: bottom left;
  opacity: 0.15;
  transition: 2s cubic-bezier(0, 0.6, 0.2, 1);
}

.post__image--1:before {
  background-image: url("https://images.unsplash.com/photo-1617469767053-d3b523a0b982?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=931&q=80");
}

.post__image--2:before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Citro%C3%ABn_C-Elys%C3%A9e_-_prawy_prz%C3%B3d_%28MSP17%29.jpg/800px-Citro%C3%ABn_C-Elys%C3%A9e_-_prawy_prz%C3%B3d_%28MSP17%29.jpg");
}

.post__image--3:before {
  background-image: url("https://www.karvi.com.ar/blog/wp-content/uploads/2022/03/mondeo-vignale1-e1647977110474-850x486.jpg");
}

.post__image--4:before {
  background-image: url("https://www.chevrolet.com.ar/content/dam/chevrolet/mercosur/argentina/espanol/index/cars/2020-onix-premier/gallery/03-images/exterior/exterior-02-min.jpg?imwidth=1200");
}

.post__image--5:before {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/2013_Volkswagen_Take_UP%21_1.0.jpg/800px-2013_Volkswagen_Take_UP%21_1.0.jpg");
}

.post__image--6:before {
  background-image: url("https://images.unsplash.com/photo-1595279211419-88239fbff506?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
}

.post__content {
  margin: -3rem 1.5rem 0;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  transition: margin 0.2s ease-in-out;
  position: relative;
  z-index: 1;
  user-select: none;
}

.post__inside {
  overflow: hidden;
  height: 4.85rem;
  transition: height 0.2s ease-in-out;
}

.post__title {
  font-size: 1.35rem;
  line-height: 1;
  margin: 0 0 1rem;
  font-weight: 300;
  color: #042A4F;
}

.post__excerpt {
  overflow: hidden;
  margin: 0;
  max-height: 6.25rem;
  position: relative;
}

.post__button {
  margin-top: 1rem;
}

/* ====== HOVER ====== */
.post:hover .post__content {
  margin-top: -9.8rem;
}

.post:hover .post__inside {
  height: 11.65rem;
}

.post:hover .post__image:after {
  opacity: 0.5;
}

.post:hover .post__image:before {
  transform: scale(1.1);
  filter: blur(10px);
}

footer {
  background-color: #eee6e5;
}

footer .col-auto button {
  color: #000;
  border-color: #000;
}

footer .col-auto button:hover {
  color: white;
  border-color: white;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .column {
    width: 90%;
  }

  .wrapper {
    display: none;
  }

  .listing .foto-port img {
    height: 210px;
    margin-bottom: 5px;
  }

  .listing {
    margin: 0.2em;
    gap: 10px;
    margin-top: 10px;
    padding: 5px;
  }

  .listing .body {
    height: auto;
  }

  .nav-bar {
    flex-direction: column;
  }

  #galeria {
    width: 100%;
  }

  nav ul li a img {
    width: 100%;
    opacity: 50%;
    transition: 0.3s;
    filter: grayscale(50%);
  }

  .menu .nav-bar h1 {
    margin: 0 auto;
    text-align: center;
    color: black;
  }

  .main-news img {
    width: 100%;
  }

  .listing {
    height: auto;
  }
}

@media screen and (min-width: 1000px) {
  .first-article {
    flex-direction: row;
  }
}

@media (max-width: 1140px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}