@import "../base/variables";
/*------------------------HEADER-------------------------*/

@mixin menu_pag {
    padding: 5px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;

}

.menu {
    @include menu_pag();
    background-color: $menu-color;
    border-top: 2px solid red;
    border-bottom: 2px solid red;

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: black;
        padding: 10px;

    }

    hr {
        height: 2px;
        background-color: rgb(255, 0, 0);
        border-color: rgb(255, 0, 0);
    }

    @mixin nav-bar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-bar {
        @include nav-bar();
        background-color: rgb(255, 255, 255);




        a {
            color: rgb(0, 0, 0);
            padding: 5px 10px;
            font-family: 'Roboto', sans-serif;

            text-decoration: none;
            text-align: center;

            &:hover {
                background-color: rgb(241, 46, 46);
                color: rgb(255, 255, 255);
            }
        }

        h1 {
            font-family: 'Roboto', sans-serif;
            text-shadow: 0.1em 0.1em rgb(145, 139, 139);
            font-size: 40px;
            color: black;
            animation-name: color-t;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            padding: 5px;
            margin-right: 20px;


        }

        h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            color: black;
            text-shadow: 0.1em 0.1em rgb(0, 0, 0);
        }
    }
}