@import "../base/variables";

* {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

.cabecera {

    h2 {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;


    }
}

.titulo_secc {
    background-color: rgba(217, 212, 207, 0.789);

    h3 {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-weight: bold;
        margin-top: 5px;




    }

}

.imagen-galeria img:hover {

    box-shadow: 0 14px 28px rgba(14, 14, 207, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #444;
}