@media screen and (max-width: 768px) {
    .column {
        width: 90%;
    }

    .wrapper {
        display: none;
    }

    .listing .foto-port img {

        height: 210px;
        margin-bottom: 5px;
    }

    .listing {

        margin: 0.2em;
        gap: 10px;
        margin-top: 10px;
        padding: 5px;

        .body {
            height: auto;
        }

    }

    .nav-bar {
        flex-direction: column;
    }

    #galeria {
        width: 100%;
    }

    nav ul li a img {
        width: 100%;
        opacity: 50%;
        transition: 0.3s;
        filter: grayscale(50%);
    }

    .menu .nav-bar h1 {
        margin: 0 auto;
        text-align: center;
        color: rgb(0, 0, 0);

    }

    .main-news img {
        width: 100%;

    }

    .listing {
        height: auto;




    }

}

@media screen and (min-width: 1000px) {
    .first-article {
        flex-direction: row;
    }
}

.posts {
    @media(max-width: 1140px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}